.app {
 display: grid;
grid-template-columns: 1fr;
justify-content: center;
width: 100vw;
max-width: 500px;
height: 100vh;
margin: auto;
padding: 10px;
}

.userform {
 display: flex;
 flex-direction: column;
 
}
.customInputContainer {
 display: none;
 background: grey;
}
.customInputContainer.show {
 display: flex;
}
.customInput {
 display: none;
}