html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: white;
  font-size: 1em;
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 3fr 30px;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 10px;
  background: rgba(220, 220, 220, 0.9)
}

.appHeader {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0 auto;
  padding: 25px;
  width: 100%;
  border: 1px solid blue;
  background: rgba(40, 96, 120.1, 0.9);
  background: rgba(90, 143, 160, 1);
  box-shadow: 0 3px 70px 1px inset rgba(40, 96, 120, 0.5);
}


.appHeader h1 {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 75px;
  margin: 0 auto;
  padding: 0px;
  letter-spacing: 5px;
  font-size: 2.8em;
  font-weight: 800;
  z-index: 1;
  text-transform: lowercase;
}

.subtitle {
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  padding: 10px;
  z-index: 2;
  color: white;
  width: 15rem;
  word-wrap: normal;  
  top: 35px;
   right: 10px;
}

.formContainer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: rgba(235, 235, 245, 1);
  border: 1px solid red;
  width: 100%;
}

.userform {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid blue;
  height: max-content;


}

.delimInput {
  font-size: 1.1em;
  margin: 0px 0px 5px 0px;
  width: fit-content;
}

.customInputContainer {
  opacity: 0;
  background: grey;
  margin: 0px 0px;
  padding: 5px 0px;
}

.customInputContainer.show {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-content: center;
  opacity: 1;
}

.label {
  padding: 0px;
  margin: 0px;
}

.customInput {
  width: 100px;
  margin: 0px 10px;
  padding: 2px;
}

.saveButton {}

.customInput.show {
  display: block;
}

.contentContainer {
  box-sizing: border-box;
  width: 100%;

  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid blue;
  overflow: auto;

}

.app-footer {
  box-sizing: border-box;
  margin: 2px auto;
  padding: 0px 0px 2px 0px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}